<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="TaskInfoDAO" class="com.auto.sns.task.dao.impl.TaskInfoDAOImpl"></bean>
	<bean id="TaskPersonDAO" class="com.auto.sns.task.dao.impl.TaskPersonDAOImpl"></bean>
	
	
	<bean id="SnsTaskDAOFactory" class="com.auto.sns.task.dao.SnsTaskDAOFactory">		
		<property name="taskInfoDAO">
			<ref bean="TaskInfoDAO" />
		</property>
		
		<property name="taskPersonDAO">
			<ref bean="TaskPersonDAO" />
		</property>

	</bean>
	
</beans>