<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="SnsTaskInfoService" class="com.auto.sns.task.service.impl.SnsTaskInfoServiceImpl"></bean>
	<bean id="SnsTaskPersonService" class="com.auto.sns.task.service.impl.SnsTaskPersonServiceImpl"></bean>
	
	<bean id="SnsTaskServiceFactory" class="com.auto.sns.task.service.SnsTaskServiceFactory">
		<property name="snsTaskInfoService">
			<ref bean="SnsTaskInfoService" />
		</property>
		<property name="snsTaskPersonService">
			<ref bean="SnsTaskPersonService" />
		</property>
	</bean>
	
</beans>