<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="PostInfoDAO" class="com.auto.sns.post.dao.impl.PostInfoDAOImpl"></bean>
	<bean id="PostHuifuDAO" class="com.auto.sns.post.dao.impl.PostHuifuDAOImpl"></bean>
	<bean id="PostContentDAO" class="com.auto.sns.post.dao.impl.PostContentDAOImpl"></bean>
	<bean id="SnsPostZanLogDAO" class="com.auto.sns.post.dao.impl.SnsPostZanLogDAOImpl"></bean>
	
	
	<bean id="SnsPostDAOFactory" class="com.auto.sns.post.dao.SnsPostDAOFactory">
		<property name="postInfoDAO">
			<ref bean="PostInfoDAO" />
		</property>
		
		<property name="postHuifuDAO">
			<ref bean="PostHuifuDAO" />
		</property>
		
		<property name="postContentDAO">
			<ref bean="PostContentDAO" />
		</property>
		
		<property name="snsPostZanLogDAO">
			<ref bean="SnsPostZanLogDAO" />
		</property>

	</bean>
	
</beans>