<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<bean id="KnowledgeTypeDAO" class="com.auto.sns.knowledge.dao.impl.KnowledgeTypeDAOImpl"></bean>
	<bean id="KnowledgeInfoDAO" class="com.auto.sns.knowledge.dao.impl.KnowledgeInfoDAOImpl"></bean>
	
	
	<bean id="SnsKnowledgeDAOFactory" class="com.auto.sns.knowledge.dao.SnsKnowledgeDAOFactory">		
		<property name="knowledgeTypeDAO">
			<ref bean="KnowledgeTypeDAO" />
		</property>
		
		<property name="knowledgeInfoDAO">
			<ref bean="KnowledgeInfoDAO" />
		</property>

	</bean>
	
</beans>